PORT=8787
CORS_ORIGIN=*
EXECUTION_MODE=paper
LIVE_TRADING_ENABLED=false
SIMULATE_ONLY=false
POLL_INTERVAL_MS=15000
MIN_SPREAD_BPS=15
MAX_SPREAD_BPS=1200
MIN_PAIR_LIQUIDITY_USD=50000
MIN_OPPORTUNITY_CAPITAL_USD=250
MAX_PAIRS_PER_TOKEN=8
MAX_MEDIAN_DEVIATION_BPS=1500
DEFAULT_CAPITAL_USD=10000
ESTIMATED_COST_BPS=12
HELIUS_API_KEY=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
HELIUS_SENDER_URL=http://ewr-sender.helius-rpc.com/fast
DEX_PROGRAM_IDS=
SIGNER_PRIVATE_KEY_BASE58=
SIGNER_PRIVATE_KEY_JSON=
JUPITER_API_KEY=
JUPITER_SWAP_BASE_URL=
TX_BROADCAST_MODE=rpc
SWAP_SLIPPAGE_BPS=50
MAX_EXECUTION_USD=500
MAX_PRIORITY_FEE_LAMPORTS=1000000
SENDER_TIP_LAMPORTS=5000
SKIP_PREFLIGHT=false
